<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="style-print.css" type="text/css" media="print">
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="fragen.js"></script>
</head>

<body>
    <div id="app">

        <div id="buffer_top">
            <p id="text_top">Sample Company</p>
            <a v-on:click="switchLang()">{{ lang[langnum] }}</a>
        </div>

        <div class="circle_center"></div>

        <div id="centerwrap">
            <div id="antwortenwrap">
                <div id="vueGenerate">
                    <div id="imagecontainer" :style="{display:displayimage}">
                        <div>
                            <a href="index.html" id="homeTag"><img id="home" src="images/homefin.png" alt="home"> </a>
                            <a onclick="javascript:window.print()" id="printTag"><img id="print" src="images/printfin.png"
                                    alt="home"> </a>
                        </div>
                        <img id="imgbox" :src="kek">
                    </div>
                    <div class="frage">
                        <li>{{ fragen[target].frage }}</li>
                    </div>
                    <div class="antworten">
                        <li v-for="n in fragen[target].antworten">
                            <div v-if="n.next" v-on:click="lasttarget=target; target = n.next; ">
                                {{ n.antwort }}
                            </div>
                            <div v-else="" v-on:click="lasttarget=target; displayimage='block'; kek = 'images/'+n.img; ">
                                {{ n.antwort }}
                            </div>
                        </li>
                        <div id="icons"></div>
                    </div>
                </div>
            </div>

            <div id="bottom_element">
                <div id="bottom_text">
                    <p>Sample 2018</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                displayimage: "none",
                kek: "",
                fragen: obj["EN_obj"],
                antworten: "none",
                lasttarget: "",
                target: "f1",
                langnum: 0,
                lang: ["EN", "DE"],
            },
            methods: {
                reset: function () {
                    this.target = "f1";
                    this.lasttarget = "";
                    this.kek = "";
                    this.displayimage = "none"
                },
                switchLang() {
                    let check = this.langnum;
                    if (check === 0) {
                        this.langnum = 1
                    } else {
                        this.langnum = 0
                    }
                    this.fragen = obj[this.lang[this.langnum] + "_obj"];
                }
            }
        })

    </script>
</body>
<script src="scripts.js"></script>

</html>
