body{
    padding: 0;
    margin: 0;
    background-image: url("images/52_wide.jpg");
    background-attachment: fixed;
    max-width: 1920px;
    width:100%;
    overflow: hidden;
}

#bottom_element{
    background-color:rgb(145, 135, 135, 0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    line-height: auto;
    border-top: 2px solid #adadad;
}

#bottom_element p{
    margin:10px;
    font-size: 15pt;
    font-family: "Permanent Marker", serif;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: right;
    margin-top: 60px;
    color: #FFF;

}

#buffer_top{
    background-color: rgb(145, 135, 135, 0.6);
    height: 100px;
    border-bottom: 2px solid #adadad;
}

#buffer_top a{
    float: right;
    margin:0px;
    padding: 10px;
    font-size: 45pt;
    font-family: "Permanent Marker", serif;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#buffer_top a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#text_top {
    margin:0px;
    padding: 10px;
    font-size: 25pt;
    font-family: "Permanent Marker", serif;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: left;
    color: rgb(255, 255, 255);
    position: fixed;
}

#centerwrap{
    width: 100%;
    margin-top:-2px;
    height: 2000px;
}

.circle_center{
    position: fixed;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-image: url("images/logo.png");
    background-repeat: round;
    background-position: right -5px bottom -2px;
    font-size: 25pt;
    font-family: "Permanent Marker", serif;
    letter-spacing: 2px;
    font-weight: 100;
    background-color: rgba(255,255,255,0.8);
    line-height: 450px;
    text-align: center;
    margin: 0 auto;
    left: 50%;
    opacity: 1;
    border: 2.4px solid rgb(183, 183, 187);

    z-index: 5;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.logo-leave-active {
    transition: all 2s ease;

}

.logo-leave-to {
    transform: rotate(180deg) scale(0.1);
    opacity: 0;
}

video {
    z-index: 4;
    width: 90%;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

#vueGenerate{
    margin: auto;
    width: 40%;
    background-color:  /* #821122 */ rgba(131, 45, 56, 1) ;
    padding: 2%;
    border:1px solid rgb(145, 135, 135, 0.6);
    color: #CCC;
}

#imagecontainer{
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    background-color: rgba(0, 2, 3, 0.8);
    left: 0;
    display: block;
    top: 0;
    overflow-y: scroll

}
#imgbox{
    max-width:100%;
    max-height:100%;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    width: 70%;
    clear: both;
}

.frage{
    font-size: 30pt;
}

.frage li{
    text-decoration: none;
    font-size: 25pt;
    list-style-type: none;
    font-family: "Permanent Marker", serif;
    letter-spacing: 2px;
    padding: 10px;
}

.antworten{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.antworten li:hover{
    background-color:rgba(143, 143, 143, 0.8);
}

.antworten li{
    background-color:#333;
    text-decoration: none;

    font-size: 15pt;
    list-style-type: none;
    font-family: "Permanent Marker", serif;
    letter-spacing: 2px;
    border:1px solid rgb(145, 135, 135, 0.6);
}

.antworten li > div {
    padding: 30px;
    cursor: pointer;
}
.antworten li > div:hover {
    padding: 30px;
    cursor: pointer;
}

#antwortenwrap{
    width: 100%;
    height: 100%;
    background-color:rgb(145, 135, 135, 0.6);
    padding-top:5%;
}

.antworten button{
    background-color:rgb(184, 169, 169);
    text-decoration: none;
    font-size: 15pt;
    list-style-type: none;
    font-family: "century gothic";
    letter-spacing: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    box-shadow: none;
    text-decoration: none;
    color: #fff;
}

#home{
    max-width: 50px;
    max-height: 50px;
    padding-top: 20px;
    margin-left: 20px;
    position: relative;
}

#print{
    max-width: 50px;
    max-height: 50px;
    position: relative;
    z-index: 999;
    margin: 5px;
}
#printTag{
    margin-right: 30px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    background-color: white;
    float: right;
    display: block;

}
#homeTag{
    margin-left: 30px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    background-color: white;
    float: left;
    display: block;

}
#home{
    padding:0 ;
    max-width: 50px;
    max-height: 50px;
    position: relative;
    z-index: 999;
    margin: 5px;
}
/*==========================================
===================Media Queries============
==========================================*/

@media print {

}

/* iPad */

@media only screen and (max-width: 1024px) {
    body{
        height: auto;
    }

    #centerwrap{
        width: 100%;
        margin-top:-2px;
    }

    #vueGenerate {
        margin: auto;
        width: 70%;
        background-color: rgb(131, 45, 56);
        padding: 2%;
        border: 1px solid rgb(145, 135, 135, 0.6);
        color: #CCC;
    }

    .antworten{
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-top: 50px;
    }

    #frageantowrten{
        margin: auto;
        width: 70%;
        background-color:  /* #821122 */ rgba(131, 45, 56, 0.7) ;
        padding: 2%;
        border:1px solid rgb(145, 135, 135, 0.6);
        color: #CCC;
    }
}

@media only screen and (max-width: 768px) {
    body{
        height: auto;
    }

    #vueGenerate li{
        font-size: smaller;
    }

    #centerwrap{
        width: 100%;
        margin-top:-2px;
        height: 900px;
    }

    .circle_center {

        width: 300px;
        height: 300px;

    }

    #frageantowrten{
        margin: auto;
        width: 70%;
        background-color:  /* #821122 */ rgba(131, 45, 56, 0.7) ;
        padding: 2%;
        border:1px solid rgb(145, 135, 135, 0.6);
        color: #CCC;
    }
}
