/* Maximize image */
#imgbox{
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    position: fixed;
    padding: 0;
    margin: 0;
}

/* Hide everything possible */
.frage, .antworten, #buffer_top, #homeTag, #printTag {
    display: none;
}

/* Minimize the rest */
body, #centerwrap, #antwortenwrap, #vueGenerate, #imagecontainer {
    height: 0 !important;
}
