body{
    padding: 0;
    margin: 0;
    background-image: url("images/grauTest.jpg");
    /* background-color: #7C0A02; */
    max-width: 1920px;
    width:100%;
    max-height: 1080px;
    height: auto;
}

#bottom_element{
    background-color:rgb(145, 135, 135, 0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%; 
    height: 100px;
    border-top: 2px solid #adadad;
}

#bottom_element p{
    margin:10px;
    font-size: 25pt;
    font-family: "century gothic";
    letter-spacing: 2px;
    font-weight: 100;
    text-align: right;
    color: #FFF;
    
}

#buffer_top{
    background-color: rgb(145, 135, 135, 0.6);
    height: 100px;
    border-bottom: 2px solid #adadad;
}

#text_top {
    margin:0px;
    padding: 10px;
    font-size: 25pt;
    font-family: "century gothic";
    letter-spacing: 2px;
    font-weight: 100;
    text-align: left;
    color: rgb(255, 255, 255);
    position: fixed;
}

#centerwrap{
    width: 100%;
    margin-top:-2px;
    height: 825px;
}

.circle_center{
    position: fixed;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-image: url("/images/samplelogo.png");
    font-size: 25pt;    
    font-family: "century gothic";
    letter-spacing: 2px;
    font-weight: 100;
   /*background-color:grey ;rgb(194, 6, 31) */
    line-height: 450px;
    text-align: center;
    margin-left:35%;
    margin-top: 8%;
    opacity: 1;
    border: 4px solid #C4C3D0;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

#vueGenerate{
    margin: auto;
    width: 30%;
    background-color:  /* #821122 */ rgba(131, 45, 56, 0.7) ;
    padding: 2%;
    border:1px solid rgb(145, 135, 135, 0.6);
    color: #CCC;
}

.frage{
    font-size: 30pt !important;
}

.frage li{
    text-decoration: none;
    font-size: 25pt;
    list-style-type: none;
    font-family: "century gothic";
    letter-spacing: 2px;
    padding: 10px;
}

.antworten{
    background-color: ;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    
}

.antworten li:hover{
    background-color:rgba(143, 143, 143, 0.8);
}

.antworten li{
    background-color:#333;
    text-decoration: none;
    
    font-size: 15pt;
    list-style-type: none;
    font-family: "century gothic";
    letter-spacing: 2px;
    padding: 10px;
    border:1px solid rgb(145, 135, 135, 0.6);
}

#antwortenwrap{
    width: 100%;
    height: 100%;
    background-color:rgb(145, 135, 135, 0.6);
    display:none;
    padding-top:5%;
}

.antworten button{
    background-color:rgb(184, 169, 169);
    text-decoration: none;
    font-size: 15pt;
    list-style-type: none;
    font-family: "century gothic";
    letter-spacing: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    box-shadow: none;
    text-decoration: none;
    color: #fff;
}

.circle_center p{
    font-size: 25pt;
    color:white;

}

#home{
    width: 50px;
    height: 50px;
    padding-top: 20px;
    margin-left: 88%;
    position: relative;
}

/*========================================== 
===================Media Queries============
==========================================*/

@media only screen and (max-width: 1024px) {
    body{
        height: auto;
    }

    #centerwrap{
        width: 100%;
        margin-top:-2px;
        height: 617px;
    }

    .circle_center{
        position: fixed;
        border-radius: 50%;
        width: 350px;
        height: 350px;
        background-image: url("images/samplelogo.png");
        font-size: 25pt;    
        font-family: "century gothic";
        letter-spacing: 2px;
        font-weight: 100;
       /*background-color:grey ;rgb(194, 6, 31) */
        line-height: 350px;
        text-align: center;
        margin-left:35%;
        margin-top: 8%;
        opacity: 1;
        border: 4px solid #C4C3D0;
        -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
        -o-transition-duration: 2s;
        transition-duration: 2s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
    }

    #frageantowrten{
        margin: auto;
        width: 70%;
        background-color:  /* #821122 */ rgba(131, 45, 56, 0.7) ;
        padding: 2%;
        border:1px solid rgb(145, 135, 135, 0.6);
        color: #CCC;
    }
}

@media only screen and (max-width: 768px) {
    body{
        height: auto;
    }

    #centerwrap{
        width: 100%;
        margin-top:-2px;
        height: 900px;
    }

    .circle_center{
        position: fixed;
        border-radius: 50%;
        width: 450px;
        height: 450px;
        background-image: url("images/samplelogo.png");
        font-size: 25pt;    
        font-family: "century gothic";
        letter-spacing: 2px;
        font-weight: 100;
       /*background-color:grey ;rgb(194, 6, 31) */
        line-height: 450px;
        text-align: center;
        margin-left:22.5%;
        margin-top: 20%;
        opacity: 1;
        border: 4px solid #C4C3D0;
        -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
        -o-transition-duration: 2s;
        transition-duration: 2s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
    }

    #frageantowrten{
        margin: auto;
        width: 70%;
        background-color:  /* #821122 */ rgba(131, 45, 56, 0.7) ;
        padding: 2%;
        border:1px solid rgb(145, 135, 135, 0.6);
        color: #CCC;
    }
}